langchain_community
pypdf
langchain
faiss-cpu
python-dotenv
dvc
dvclive
tf-keras
fastapi
pydantic
uvicorn
google-generativeai
starlette
langchain-core
langchain_google_genai
sentence-transformers
langchain-huggingface
